# Ignore temporary Emacs files
*~
.class*

#Ignore Eclipse directories
.settings
.project
.classpath
.pydevproject

# Exclude build directory
target/*
.
/target

/gwt-unitCache
src/main/gwt-unitCache
*.cache.html

.gwt/*
/.gwt

lesiontracking/*
/lesiontracking

*.cache.js

.DS_Store

*.pyc 
/bin
