<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <context-param>
      <param-name>maxSize</param-name>
      <param-value>3145728</param-value>
   </context-param>
   <context-param>
      <param-name>slowUploads</param-name>
      <param-value>200</param-value>
   </context-param>
   <servlet>
      <servlet-name>uploadServlet</servlet-name>
      <servlet-class>edu.stanford.isis.epad.plugin.lesiontracking.server.AnnotationXMLFileUploadServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>lesionTrackingServiceImpl</servlet-name>
      <servlet-class>edu.stanford.isis.epad.plugin.lesiontracking.server.LesionTrackingServiceImpl</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>RECISTTableServlet</servlet-name>
      <servlet-class>edu.stanford.isis.epad.plugin.lesiontracking.server.RECISTTableServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>RECISTChartServlet</servlet-name>
      <servlet-class>edu.stanford.isis.epad.plugin.lesiontracking.server.RECISTChartServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>uploadServlet</servlet-name>
      <url-pattern>/annotations</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>lesionTrackingServiceImpl</servlet-name>
      <url-pattern>/lesiontracking/lesionTrackingService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RECISTTableServlet</servlet-name>
      <url-pattern>/services/recist/table</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RECISTChartServlet</servlet-name>
      <url-pattern>/services/recist/chart</url-pattern>
   </servlet-mapping>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>
</web-app>
